APP_NAME=BiomedicTrack API
ENVIRONMENT=development
DEBUG=true

DATABASE_URL=mysql+pymysql://biomedic:biomedic@localhost:3306/biomedictrack

JWT_SECRET_KEY=change-this-super-secret-key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]

# Para sustentacion local. En produccion dejar vacio para generar codigos aleatorios.
DEV_2FA_CODE=123456
TWO_FACTOR_EXPIRE_MINUTES=10
